<h2>Login</h2>

<app-messages
  #messages
  [messageSource]="formError$"
></app-messages>

<form
  [formGroup]="form"
  (submit)="submit()"
>
  <div class="form-controls">

    <md-input-container style="width: 100%">
      <input
        mdInput
        placeholder="Username or Email Address"
        formControlName="usernameOrEmail"
        required
      >
    </md-input-container>

    <md-input-container mdError style="width: 100%">
      <input
        mdInput
        placeholder="Password"
        type="password"
        formControlName="password"
        required
      >
    </md-input-container>

    <!--<app-control
      label="Username or Email Address"
      formControlName="usernameOrEmail"
      [formControl]="usernameOrEmail"
      [focusOnInit]="true"
    ></app-control>

    <app-control
      label="Password"
      type="password"
      formControlName="password"
      [formControl]="password"
    ></app-control>-->

  </div>

  <button
    type="submit"
    [disabled]="!form.valid"
  >Submit</button>
</form>
