<form
  [formGroup]="registerForm"
  (submit)="registerUser()"
>

  <app-field
    label="Username"
    name="username"
    formControlName="username"
    [formControl]="username"
  ></app-field>

  <!--<app-field
    label="Password"
    name="password"
    type="password"
    [appFieldFormControl]="password"
  ></app-field>-->

  <!--<label for="username">Username</label>
  <input
    formControlName="username"
    id="username"
  >
  <control-messages
    [control]="registerForm.controls.username"
  ></control-messages>

  <label for="email">Email Address</label>
  <input
    formControlName="email"
    id="email"
  >
  <control-messages
    [control]="registerForm.controls.email"
  ></control-messages>

  <label for="password">Passowrd</label>
  <input
    formControlName="password"
    id="password"
    type="password"
  >
  <control-messages
    [control]="registerForm.controls.password"
  ></control-messages>-->

  <button
    type="submit"
    [disabled]="!registerForm.valid"
  >Submit</button>
</form>
